@import "tailwindcss";

:root {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #f8fafc; /* Light background */
  color: #0f172a;           /* Dark text */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}